body {
    line-height: 1.8;
}
p {
    font-size: 16px;
}

.container-fluid {
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #ff6347 !important;
}
.pagesection {
    width: 95vw;
    height: 80vh;
    padding-bottom: 0px;
    display: table;
}
.tablecell {
    display: table-cell;
    vertical-align: middle;
}

.section-header {
    padding: 50px 0px;
    font-size: 45px;
}

.text-content {
    margin: auto;
    width: 800px;
    font-size: 23px;
}

/* Intro Section */
.introsection {
    color: #FFFFDF;
    background-color: #DD0000;
    position: relative;
    height: 1000px;
}
.intro-anchor {
    padding: 50px;
}
.intro-toplogo {
    background-image: URL("./logo_balcony.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 260px;
    height: 60px;
    margin: auto;
    padding-bottom: 100px;
}
.intro-container {
    margin: auto;
    border: 5px solid #FFFFDF;
    width: 900px;
    height: 500px;
    display: table;
}
.intro-header {
    font-size: 125px;
    display: table-cell;
    vertical-align: middle;
}
.intro-tag {
    font-size: 50px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}
.intro-slogan {
    margin: auto;
    font-size: 25px;
    width: 800px;
    background-color: #DD0000;
    margin-top: -25px;
}
.intro-bottomlogo {
    margin: auto;
    background-image: URL("./logo_half_circle.png");
    width: 253px;
    height: 137px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -126px;
}


/* Why us Section */
.whyus-slogan {
    color: #DD0000;
    font-weight: bold;
}

/* How is it Section */
.howisitsection {
    background-color: #5FD9EA;
}

/* How does it work Section */
.howitworks-header {
    color: #DD0000;
}
.howitworks-subheader {
    font-size: 30px;
}
.step-header {
    font-size: 28px;
    font-weight: bold;
}

/* Subscribe Section */
.subscribesection {
    background-color: #273DDB;
    color: #DADDAD;
    height: 700px;
}
.form-container {
    margin: auto;
    max-width: 650px;
}
.input-group {
    padding: 10px;
}
.btn-subscribe {
    margin-top: 20px;
}
.rbtn-gender {
    margin: -1px 5px 0px 5px !important;;
}
.chk-tnc {
    margin: 1px 5px 0px 0px;
}
.err-mark {
    display: none;
    color: #DD0000;
    font-weight: bold;
}

.tnc-link {
    cursor: pointer;
    color: #FF9500;
}

/* Footer */
.footer-bg {
    background-color: #2F2F2F; /* Black Gray */
    color: #fff;
    max-height: 100px;
}

.footer-bg p {
    margin-top: 35px;
}

.modal-text {
    color: #000000;
}
